{% extends "index.html" %}
{% block home %}active{% endblock %}
{% block content %}
<div class="container-fluid" style="color: var(--first-color-light)">
    <div class="row py-2">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/banner.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br>
    <div class="row py-2"  >
        <div class="col-2 align-self-center">
            <h3>Selayang Pandang FTI Unand</h3>
            </div>
        <div class="col-10 align-self-end">
            <h6 style="font-size: large; font-weight: normal; text-align: justify">Fakultas Teknologi Informasi Universitas Andalas atau dikenal sebagai FTI Unand adalah salah satu fakultas di lingkungan Universitas Andalas. Gedung FTI Unand terletak di sebelah Gedung Pascasarjana (PPS) Unand. Fakultas Teknologi Informasi Unand merupakan bagian dari kelompok fakultas-fakultas rumpun informatika. Saat ini, FTI Unand dipimpin oleh Dr. Drs. Ahmad Syafruddin Indrapriyatna, M.T. Pada fakultas ini terdapat tiga departemen, yakni: Departemen Teknik Komputer, Departemen Sistem Informasi, dan Departemen Informatika.</h6>
        </div>
    </div>
    <div class="container text-center">
        <h2>Berita Terbaru</h2>
    </div>
    <div class="row py-2 news-stack text-center">
        <div class="col-3">
            <h4>Mahasiswa FTI Raih Juara pada Lomba Essay Tingkat Nasional “LETIN” !!</h4>
            <p style="text-align: center"><small>07 Juni 2023</small></p>
            <img src="/static/news-1.jpg" alt="" class="w-50 rounded mx-auto d-block img-fluid">
            <br>
            <p>Padang (FTI UNAND) - Mahasiswa Fakultas Teknologi Informasi Universitas Andalas berhasil meraih Juara 1 (Gold Medal) dan Juara 3 Umum (Kategori Best of the Best) pada ajang Lomba Essay Tingkat Nasional “LETIN” dalam bidang ‘Sosial Budaya’ yang diadakan oleh Universitas Triatma Mulya dan Lembaga Setara Prisma Nusantara yang merupakan lomba essay nasional dengan tema “Inovasi dan kreatifitas yang berkelanjutan untuk Indonesia lebih Baik”.</p>
            <p>Selamat untuk Darma Zidane Gusnambi (2111521023) dan Amalia Sandi Alzahrah (2111522023), Mahasiswa Departemen Sistem Informasi Fakultas Teknologi Informasi Universitas Andalas. “Semoga kedepannya Mahasiswa FTI UNAND lebih sukses lagi”.</p>
        </div>
        <div class="col-3">
            <h4>Mahasiswa FTI Raih Juara pada Lomba Essay Tingkat Nasional “LETIN” !!</h4>
            <p style="text-align: center"><small>07 Juni 2023</small></p>
            <img src="/static/news-1.jpg" alt="" class="w-50 rounded mx-auto d-block img-fluid">
            <br>
            <p>Padang (FTI UNAND) - Mahasiswa Fakultas Teknologi Informasi Universitas Andalas berhasil meraih Juara 1 (Gold Medal) dan Juara 3 Umum (Kategori Best of the Best) pada ajang Lomba Essay Tingkat Nasional “LETIN” dalam bidang ‘Sosial Budaya’ yang diadakan oleh Universitas Triatma Mulya dan Lembaga Setara Prisma Nusantara yang merupakan lomba essay nasional dengan tema “Inovasi dan kreatifitas yang berkelanjutan untuk Indonesia lebih Baik”.</p>
            <p>Selamat untuk Darma Zidane Gusnambi (2111521023) dan Amalia Sandi Alzahrah (2111522023), Mahasiswa Departemen Sistem Informasi Fakultas Teknologi Informasi Universitas Andalas. “Semoga kedepannya Mahasiswa FTI UNAND lebih sukses lagi”.</p>
        </div>
        <div class="col-3">
            <h4>Mahasiswa FTI Raih Juara pada Lomba Essay Tingkat Nasional “LETIN” !!</h4>
            <p style="text-align: center"><small>07 Juni 2023</small></p>
            <img src="/static/news-1.jpg" alt="" class="w-50 rounded mx-auto d-block img-fluid">
            <br>
            <p>Padang (FTI UNAND) - Mahasiswa Fakultas Teknologi Informasi Universitas Andalas berhasil meraih Juara 1 (Gold Medal) dan Juara 3 Umum (Kategori Best of the Best) pada ajang Lomba Essay Tingkat Nasional “LETIN” dalam bidang ‘Sosial Budaya’ yang diadakan oleh Universitas Triatma Mulya dan Lembaga Setara Prisma Nusantara yang merupakan lomba essay nasional dengan tema “Inovasi dan kreatifitas yang berkelanjutan untuk Indonesia lebih Baik”.</p>
            <p>Selamat untuk Darma Zidane Gusnambi (2111521023) dan Amalia Sandi Alzahrah (2111522023), Mahasiswa Departemen Sistem Informasi Fakultas Teknologi Informasi Universitas Andalas. “Semoga kedepannya Mahasiswa FTI UNAND lebih sukses lagi”.</p>
        </div>
    </div>
    <br>
    <div class="container text-center">
        <h2>Our Partners</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="/static/oracle.png" alt="" class="rounded mx-auto d-block">
        </div>
        <div class="col-4">
            <img src="/static/redhat.png" alt="" class="rounded mx-auto d-block">
        </div>
        <div class="col-4">
            <img src="/static/cisco.png" alt="" class="rounded mx-auto d-block">
        </div>
    </div>
</div>
{% endblock %}