{% extends "index.html" %}
{% block links %}active{% endblock %}
{% block content %}
<div class="container-fluid text-center" style="color: #40513B">
    <h2>Website Corner</h2>
    <br>
    <div class="container-fluid" style="background-color: #EDF1D6; padding-top: 15px">
        <div class="row">
            <h4>Website Akademik</h4>
        </div>
        <div class="row">
            <div class="col-4">
                <h5>Portal Akademik</h5>
                <a href="portal.unand.ac.id">
                    <img src="/static/portal.png" alt="" class="h-75 rounded mx-auto d-block img-fluid">
                </a>
            </div>
            <div class="col-4">
                <h5>Portal MBKM</h5>
                <a href="http://merdeka.akademik.unand.ac.id/mbkm/">
                    <img src="/static/mbkm.png" alt="" class="h-75 rounded mx-auto d-block img-fluid">
                </a>
            </div>
            <div class="col-4">
                <h5>SIPENA UNAND</h5>
                <a href="http://layanan.akademik.unand.ac.id/">
                    <img src="/static/sipena.png" alt="" class="h-75 rounded mx-auto d-block img-fluid">
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid" style="background-color: #EDF1D6; padding-top: 15px">
        <div class="row">
            <h4>Website Departemen</h4>
        </div>
        <div class="row">
            <div class="col-4">
                <h5>Departemen Teknik Komputer</h5>
                <a href="http://ce.fti.unand.ac.id/">
                    <img src="/static/tekom.png" alt="" class="h-50 rounded mx-auto d-block img-fluid">
                </a>
            </div>
            <div class="col-4">
                <h5>Departemen Sistem Informasi</h5>
                <a href="http://si.fti.unand.ac.id/">
                    <img src="/static/si.png" alt="" class="h-50 w-75 rounded mx-auto d-block img-fluid">
                </a>
            </div>
            <div class="col-4">
                <h5>Departemen Informatika</h5>
                <a href="#">
                    <img src="/static/portal.png" alt="" class="h-50 rounded mx-auto d-block img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}