{% extends "index.html" %}
{% block profile %}active{% endblock %}
{% block content %}
    <div class="container-fluid " style="color: var(--first-color-light)">
        <br>
        <div class="row">
            <div class="col-3">
                <h3>Sejarah FTI UNAND</h3>
            </div>
            <div class="col-9">
                <p>Fakultas Teknologi Informasi lahir dari pengabungan dua program studi yang berbeda fakultas, yaitu Program Studi Sistem Informasi dari Fakultas Teknik dan Program Studi Sistem Komputer dari Fakultas Matematika dan Ilmu Pengetahuan Alam. Rektor Unand, Werry Darta Taifur meresmikan Fakultas Teknologi Informasi pada hari Jum’at, tanggal 12 Oktober 2012 bertempat di Convention Hall, Kampus Unand Limau Manis, Padang. Fakultas Teknologi Informasi merupakan Fakultas ke-15 serta fakultas terakhir yang diresmikan tahun 2012, setelah sebelumnya Rektor meresmikan Fakultas Kesehatan Masyarakat, Fakultas Kedokteran Gigi, dan Fakultas Keperawatan.</p>
            </div>
        </div>
        <br>
        <div class="row news-stack">
            <div class="col-3">
                <h3 class="text-center">Visi</h3>
                <p>Menjadi Fakultas Teknologi Informasi yang Bermutu dan Bereputasi Nasional Tahun 2028.</p>
            </div>
            <div class="col-3">
                <h3 class="text-center">Misi</h3>
                <ol>
                    <li>Menyelenggarakan pendidikan yang bereputasi global dan bermartabat untuk menghasilkan lulusan bidang teknologi informasi yang berakhlak mulia dan kompetitif.</li>
                    <li>Menyelenggarakan penelitian yang bermartabat bagi pelayanan publik dan industri serta berkontribusi nyata untuk pengembangan ilmu pengetahuan dan teknologi di bidang teknologi informasi.</li>
                    <li>Menyelenggarakan pengabdian kepada masyarakat dalam bidang teknologi informasi untuk berkontribusi nyata dalam peningkatan kesejahteraan ekonomi dan sosial masyarakat.</li>
                </ol>
            </div>
            <div class="col-3">
                <h3 class="text-center">Tujuan</h3>
                <ol>
                    <li>Menghasilkan lulusan yang berwawasan luas, berkemampuan profesional, berakhlak mulia, dan berjiwa technopreneur di bidang teknologi informasi.</li>
                    <li>Menciptakan peringkat akreditasi unggul untuk semua program studi.</li>
                    <li>Melaksanakan penelitian untuk menghasilkan publikasi ilmiah dan paten yang bermutu dan inovatif yang bermanfaat untuk pengembangan ilmu pengetahuan, teknologi, dan pembangunan masyarakat madani.</li>
                    <li>Menerapkan teknologi informasi kepada masyarakat luas untuk meningkatkan kesejahteraan sosial dan ekonomi.</li>
                    <li>Membangun kerjasama yang berkelanjutan dengan masyrakat, sektor swasta, pemerintah, dan lembaga - lembaga nasional serta internasional.</li>
                </ol>
            </div>
        </div>
        <br>
    <div class="container text-center">
        <h3>Struktur Organisasi</h3>
    </div>
    <div class="row">
        <img src="/static/Struktur-Organisasi-FTI-Periode-2020-2024-REV-5_.jpg" alt="" class="w-50 rounded mx-auto d-block img-fluid">
    </div>
    </div>
{% endblock %}